@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body{
  font-family: Poppins;
  margin: 0;
  background-color: #010101;
  color: #eee;
}

/* SLIDERS */

svg{
  width: 25px;
}

header{
  width: 1200px;
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

header .logo {
  font-weight: bold;
  white-space: nowrap; /* Prevents breaking into a new line */
}





header .menu{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

/* CSS Slider */

.slider{
  height: 100vh;
  margin-top: -70px;
  position: relative;
}
.slider .list .item{
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}
.slider .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,#010101 20%, transparent);
}

.slider .list .item .content{
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1){
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2{
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active{
  opacity: 1;
  z-index: 10;
}
@keyframes showContent{
  to{
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2{
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
  animation-duration: 1.3s;
}

.arrows{
  position: absolute;
  top: 35%;
  right: 5%;
  z-index: 100;
}

.arrows button{
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 53px;
  height: 53px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
}
.arrows button:hover{
  background-color: #eee;
  color: black;
}

.thumbnail{
  position: absolute;
  bottom: -20px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar{
  width: 0;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  filter: brightness(.5);
  transition: .5s;
  flex-shrink: 0;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active{
  filter: brightness(1.3);
}
.thumbnail .item .content{
  position: absolute;
  inset: auto 10px 10px 10px;
}

@media screen and (max-width: 678px){
  .thumbnail{
    justify-content: start;
  }
  .slider .list .item .content h2{
    font-size: 60px;
  }
.arrows{
  top: 10%;
}
}



/* Part 2 */
.right {
  width: 700px;
}

.right .onTop {
  width: 700px;
  height: 140px;
  background: #010101;
  position: sticky;
  border-radius: 0rem;
  top: 0px;
}

.right .onTop p{
  margin-left: 1%;
  font-size: 16px;
  overflow: hidden;
  display: flex;
  text-align: center;
}

.right .onTop2{
  width: 700px;
  height: 830px;
  background: #010101;
  position: sticky;
  border-radius: 0rem;
  top: 0px;
}

.right .onTop2 p {
  margin-left: 1%;
  font-size: 16px;
  overflow: hidden;
  display: flex;
}

.right > div:nth-child(2) {
  height: 640px;
  background-image: url('gameWebsiteImgs/img13.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  background-position: center 10%;
}

.right > div:nth-child(3) {
  height: 640px;
  background-image: url('gameWebsiteImgs/img16.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  background-position: center 20%;
}

.right > div:nth-child(3) {
  margin-top: 50px;
}

.container {
  display: flex;
  margin: 3rem 5rem;
  gap: 7rem;
}

.container::before,
.container::after {
  content: '';
  display: table;
  clear: both;
}


.image-container {
  display: flex;
  align-items: center ;
  gap: 20px; 
  margin-top: 20px;
}

.image-container img {
  width: 300px;  
  object-fit: cover; 
  border-radius: 10px;
}

.image-container img:nth-child(1) {
  height: 500px; 
}

.image-container img:nth-child(2) {
  height: 500px;
  width: 500px;
}

.box-container {
  display: flex; 
  gap: 20px;
  margin-top: 10px;
}

.box1, .box2 {
  width: 50%; 
  padding: 0px;
  background: #010101; 
  color: white;
  border-radius: 10px;
}

.box1 p, .box2 p {
  margin: 0;
}

.right .onTop2 .box-container .box1 p{
 font-size: 13px;
}
.right .onTop2 .box-container .box2 p{
  font-size: 13px;
 }

 .right .onTop2 .box3 p{
  font-size: 25px;
  word-spacing: 2px;
  align-items: center;
  justify-content: center;
  text-align: center;
 }

 .box3 {
  margin-top: 20px; 
  padding: 0px;
  background: #010101; 
  color: white;
  border-radius: 10px;
  font-size: 14px;
}


.cards{
  position: absolute;
  width: 100%;
  height: 370px;
  overflow: hidden;
  color: white;
  z-index: 10;
}


.cards .item2 h1{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cards .item2 p{
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
}

.item2{
  position: absolute;
  width: 200px;
  height: 320px;
  text-align: justify;
  background-color: #131212;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
}
#next2, #prev2{
  position: absolute;
  top: 40%;
  color: #fff;
  background-color: transparent ;
  border: none;
  font-size: xx-large;
  font-family: monospace;
  font-weight: bold;
  left: 50px;
}
#next2{
  left: unset;
  right: 50px;
}

.part3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -5%;
  padding-top: 30px; /* Adjust as needed */
}


.part3 .heading p{
  font-size: 40px;
  text-align: center;
}

.info1 {
  width: 900px;
  height: 700px;
  background: #010101;
  margin-top: 550px;
  margin-left: 250px;
}

.info2{
  width: 500px;
  height: 700px;
  background-image: url('gameWebsiteImgs/img17.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 420px;
  border: 2px solid white; /* White border */
  margin-left: -30px;
  margin-top: -95px;
}


.info3{
  width: 500px;
  height: 70%;
  background-image: url('gameWebsiteImgs/img14.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 120px;
  border: 2px solid white; /* White border */
  margin-left: -85%;
  margin-top: -110%;
}

.info4{
  width: 700px;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 420px;
  margin-left: 500px;
}

.paragraph{
  background-color: #010101;
  width: 600px;
  height: 500px;
  font-size: 12px;
  line-height: 2.1;
  margin-left: 8%;
}

.button-box {
  display: inline-block;
  padding: 15px 30px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border: 2px solid white; /* White border */
  border-radius: 0px;
  transition: background-color 0.3s, border-color 0.3s;
}

.button-box:hover {
  background-color: white; /* Change background on hover */
  color: black; /* Change text color on hover */
}



/* footer */
footer{
  transition: 0.5s;
  box-sizing: border-box;
  background: #cac9c9;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 10px;
  color: #000;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  margin: 19px;
  padding: 8px;
}
.footer-content p{
  max-width: 500px;
  margin: auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-bottom{
  transition: 0.5s;
  background: #dbd8d8;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  font-family: 'Monospace', Lucida Console;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 500;
}
.footer-content h3:hover{
  font-size: 40px;
  transition: 0.5s;
}

.social-icon{
  margin-top: 6px;
  margin-bottom: 15px;
}
.social-icon i{
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
  color:	black;
}

.social-icon i:hover{
  transform:rotate(45deg);
  color: gray;

}

*{
  transition: 0.2s;
}
.cards-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 80px;
}


.part3 .info1 .heading p{
  margin: 0;
}